# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
.github
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
hypothesis/
.pytest_cache/

# Translations
*.mo

# Django stuff:
*.log

# Flask instance folder
instance/

# Pyenv
.python-version

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyproject

# Rope project settings
.ropeproject

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# SQLite DB
finance_app.db
*.db

# Temporary files
*.tmp
*.temp
tmp/

# Reports used in repo
tmp_reports_categories.json
